{% extends "base.html" %}
{% block header %}
    <h1>
        {% block title %}
            Names
        {% endblock title %}
    </h1>
{% endblock header %}
{% block content %}
    {% for player in players %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ player['player_name'] }}</h1>
                    <div class="about">on {{ player['date'] }}</div>
                </div>
                <form action="{{ url_for('player_update_view') }}" 
                    method="POST" 
                    style="display:inline;">
                    <input type="hidden" 
                    name="player_api_id" value="{{ player['player_api_id'] }}">
                    <button type="submit" class="action">Edit</button>
                </form>
            </header>
        </article>
        {% if not loop.last %}<hr />{% endif %}
    {% endfor %}
{% endblock content %}